input {
  tcp {
    port => 4560
    codec => json_lines
    add_field => {
      logger => logstash
    }
  }
}

filter {
    mutate {
          rename => ["level", "log.level" ]
          rename => ["logger_name", "log.package" ]
      }
}

output {
    elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "elastic_logback_logstash"
    }
}