input {
  beats {
  port => 5044
  id => "my_plugin_id"
  }
  tcp {
    port => 4560
    codec => json_lines
    add_field => {
      logger => logstash
    }
  }
}

filter {
  if [beat][name] == "filebeat_to_logstash" {
    grok {
      match => {
        message => "\[%{TIMESTAMP_ISO8601:@timestamp}\] %{LOGLEVEL:log.level} %{SPACE}%{USERNAME:log.package}%{SPACE}-%{SPACE}%{GREEDYDATA:message}"
      }
    }
  } else {
    mutate {
          rename => ["level", "log.level" ]
          rename => ["logger_name", "log.package" ]
      }
  }
}

output {
 if [beat][name] == "filebeat_to_logstash" {
  elasticsearch {
  hosts => ["http://elasticsearch:9200"]
  index => "filebeat_logstash"
  }
  } else {
    elasticsearch {
    hosts => ["http://elasticsearch:9200"]
    index => "logback_logstash"
    }
  }
}